fastapi
uvicorn
python-dotenv
llama-index
langchain
langchain-groq
langchain-community
chromadb
pytesseract
pdfplumber
python-docx
pandas
openpyxl
pydantic
pydantic-settings
python-multipart
sentence-transformers
httpx
